Checks: >
  -*,
  readability-identifier-naming,
  readability-magic-numbers,
  readability-braces-around-statements,
  readability-function-cognitive-complexity,
  readability-else-after-return,
  readability-implicit-bool-conversion,
  readability-inconsistent-declaration-parameter-name,
  readability-isolate-declaration,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-named-parameter,
  readability-redundant-control-flow,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-accessed-through-instance,
  readability-string-compare,
  readability-uniqueptr-delete-release,
  readability-uppercase-literal-suffix,
  readability-use-anyofallof,
  readability-use-auto,
  readability-use-default-member-init,
  readability-use-emplace,
  readability-use-nodiscard,
  readability-use-nullptr,
  readability-use-std-default-delete,
  readability-use-std-to-string
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-magic-numbers.IgnoredValues
    value:           '0,1,-1,2'
  - key:             readability-magic-numbers.IgnoreEnums
    value:           '1'
  - key:             readability-magic-numbers.IgnoreDefaultValues
    value:           '1'