/*
 Colors:

 --black: #262626;
 --blue: #0019FF;
 --blue_light: #55C4F5;
 --dark_form: #221E1B;
 --green: #00E597;
 --grey: #BCBCBC;
 --grey_bg: #E3E3E3;
 --purple: #5B22B2;
 --purple_dark: #4919A2;
 --purple_light: #E4DDF0;
 --red: #FF3A4B;
 --yellow: #FFBA00;

*/

body {
  margin:0px;
  color: #434343;
  font-family: 'Roboto','Verdana',Helvetica,Arial,sans-serif;
  font-size: 22px;
  line-height: 1.1;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}
form .field-group {
  box-sizing: border-box;
  clear: both;
  padding: 10px 0;
  position: relative;
  margin: 1px 0;
  width: 100%;
}
form .field-group > label {
  color: #a5acb2;
  display: block;
  margin: 0 0 5px 0;
  position: relative;
  word-wrap: break-word;
}

label{
  display: block;
  padding:5px 0px;
}

select[type=text], input[type=text] {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #434343;
  font-family: inherit;
  font-size: 1.1em;
  height: 2.2em;
  padding: 4px 5px;
  margin: 0;
  width: 100%;
}
input[type=text]:focus {
  border-color: #4C669F;
  outline: 0;
}

input[type=range] {
   width: 95%;
}

svg {
  fill: #fff;
}

table{
  background: #f3f3f3;
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

td{
  padding:10px;
  border-bottom: 1px solid #ddd;
}
a{
  cursor:pointer;
}

.btn{
  border-radius: 30px;
  border: 0px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 22px;
  font-variant: normal;
  font-weight: 400;
  height: 2.5em;
  margin: 30px auto;
  padding: 4px 40px;
  text-decoration: none;
}

.bg-black{
  background-color: #262626 !important;
}
.bg-yellow{
  background-color: #FFBA00 !important;
  color:#262626;
}
.bg-red{
  background-color: #FF3A4B !important;
}
.bg-grey{
  background: #E3E3E3;
  color: #8db2ba;
}
.text-blue{
  color: #0019FF !important;
  text-decoration: none;
}
.text-green{
  color: #00E597 !important;
}
.text-grey{
  color: #BCBCBC;
}
.text-yellow{
  color: #FFBA00 !important;
}
.text-red{
  color: #FF3A4B;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.content{
  padding: 10px 10px 20px;
}
.font70{
  font-size: 70%;
}
.font80{
  font-size: 80%;
}
.mt20{
  margin-top: 20px;
}.mt0{
  margin-top: 0px;
}
.p10{
  padding: 10px;
}
.topnav{
  color:white;
  min-height:50px;
  top:0;
  width:inherit;
  bottom:auto;
  z-index: 100;
}
.topnav p{
  margin: 0px;
  padding:15px 0px 0px;
  height:40px;
}

#toplogo{
  position:absolute;
  top:10px;
  left:10px;
}
#topinfo{
  position:absolute;
  top:10px;
  right:10px;
  height:30px;
  width:30px;
}
#topbackbtn{
  position:absolute;
  top:0px;
  width:57px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}

.check-sensor{
  clear:both;
  margin-bottom:30px;
}
.check-sensor input{
  float:right;
}

.toast {
  background-color: #8CC252;
  color: #000;
  padding: 10px;
  margin: 2px 0px;
}

.monospace{
  font-family: 'monospace';
}

@media (max-width: 320px){
  .sticky{
    width:320px;
    position:fixed;
  }
  .content {
    padding: 70px 5px 20px;
  }
  #topbackbtn{
    position:absolute;
    height:70px;
    left: 0px;
    top:0px;
    width:57px;
  }
}
.red-breathe {
    animation:2s red-breathe ease infinite;
}
@keyframes red-breathe {
     0% { color: white;}
     50% { color: red;}
     100% { color: white;}
}
.blue-breathe {
    animation:2s blue-breathe ease infinite;
}
@keyframes blue-breathe {
     0% { color: white;}
     50% { color: blue;}
     100% { color: white;}
}

