.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
!.platformio
.platformio/*
!.platformio/packages/
.platformio/packages/*
!.platformio/packages/framework-arduinosam
.platformio/packages/framework-arduinosam/*
!.platformio/packages/framework-arduinosam/variants
.platformio/packages/framework-arduinosam/variants/*
!.platformio/packages/framework-arduinosam/variants/sck2

!.platformio/packages/framework-arduinosam/libraries
.platformio/packages/framework-arduinosam/libraries/*
!.platformio/packages/framework-arduinosam/libraries/__cores__
.platformio/packages/framework-arduinosam/libraries/__cores__/*
!.platformio/packages/framework-arduinosam/libraries/__cores__/samd
.platformio/packages/framework-arduinosam/libraries/__cores__/samd/*
!.platformio/packages/framework-arduinosam/libraries/__cores__/samd/I2S
.platformio/packages/framework-arduinosam/libraries/__cores__/samd/I2S/*
!.platformio/packages/framework-arduinosam/libraries/__cores__/samd/I2S/src
.platformio/packages/framework-arduinosam/libraries/__cores__/samd/I2S/src/*
!.platformio/packages/framework-arduinosam/libraries/__cores__/samd/I2S/src/utility
.platformio/packages/framework-arduinosam/libraries/__cores__/samd/I2S/src/utility/*
!.platformio/packages/framework-arduinosam/libraries/__cores__/samd/I2S/src/utility/SAMD21_I2SDevice.h

SAM_firmware.uf2
