.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
!.platformio
.platformio/*
!.platformio/packages/
.platformio/packages/*
!.platformio/packages/framework-arduino-samd
.platformio/packages/framework-arduino-samd/*
!.platformio/packages/framework-arduino-samd/variants
.platformio/packages/framework-arduino-samd/variants/*
!.platformio/packages/framework-arduino-samd/variants/sck2

!.platformio/packages/framework-arduino-samd/libraries
.platformio/packages/framework-arduino-samd/libraries/*
!.platformio/packages/framework-arduino-samd/libraries/I2S
.platformio/packages/framework-arduino-samd/libraries/I2S/*
!.platformio/packages/framework-arduino-samd/libraries/I2S/src
.platformio/packages/framework-arduino-samd/libraries/I2S/src/*
!.platformio/packages/framework-arduino-samd/libraries/I2S/src/I2S
.platformio/packages/framework-arduino-samd/libraries/I2S/src/I2S/*
!.platformio/packages/framework-arduino-samd/libraries/I2S/src/I2S/src
.platformio/packages/framework-arduino-samd/libraries/I2S/src/I2S/src/*
!.platformio/packages/framework-arduino-samd/libraries/I2S/src/I2S/src/utility
.platformio/packages/framework-arduino-samd/libraries/I2S/src/I2S/src/utility/*
!.platformio/packages/framework-arduino-samd/libraries/I2S/src/I2S/src/utility/SAMD21_I2SDevice.h

SAM_firmware.uf2
