/*
 Colors:
 Blue:       #065063;
 LightBlue:  #38cef3;
*/

body {
  margin:0px;
  color: #434343;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 22px;
  line-height: 1.1;
}
.container {
  margin: 0 auto;
  max-width: 400px;
}
form .field-group {
  box-sizing: border-box;
  clear: both;
  padding: 10px 0;
  position: relative;
  margin: 1px 0;
  width: 100%;
}
form .field-group > label {
  color: #a5acb2;
  display: block;
  margin: 0 0 5px 0;
  position: relative;
  word-wrap: break-word;
}

label{
  display: block;
  padding:5px 0px;
}

select[type=text], input[type=text] {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #434343;
  font-family: inherit;
  font-size: 1.1em;
  height: 2.2em;
  padding: 4px 5px;
  margin: 0;
  width: 100%;
}
input[type=text]:focus {
  border-color: #4C669F;
  outline: 0;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
  border: 1px solid #bbb;
  margin-top: -2px; /* move checkbox 2px down to match line, when float:right */
}

input[type=range] {
   width: 95%;
}

svg {
  fill: #fff;
}

td{
  padding:10px;
}

.btn{
  color: white;
  margin: 30px auto;
  display: block;
  border: 0px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  font-variant: normal;
  font-weight: 400;
  height: 2.5em;
  padding: 4px 40px;
  text-decoration: none;
}

.bg-blue{
  background-color: #065063 !important;
}
.bg-cyan{
  background-color: #38cef3 !important;
  color:white;
}
.bg-red{
  background-color: rgb(244,67,54) !important;
}
.bg-grey{
  background: #C8E6ED;
  color: #8db2ba;
}
.text-cyan{
  color: #38cef3 !important;
}
.text-red{
  color: rgb(244,67,54);
}
.text-grey{
  color: #ccc;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.content{
  padding: 10px 5px 20px;
}
.font70{
  font-size: 70%;
}
.font80{
  font-size: 80%;
}
.mt20{
  margin-top: 20px;
}.mt0{
  margin-top: 0px;
}
.p10{
  padding: 10px;
}
.topnav{
  color:white;
  min-height:50px;
  top:0;
  width:inherit;
  bottom:auto;
  z-index: 100;
}
.topnav p{
  margin: 0px;
  padding:15px 0px 0px;
  height:40px;
}

#toplogo{
  position:absolute;
  top:10px;
  left:10px;
}
#topinfo{
  position:absolute;
  top:10px;
  right:10px;
  height:30px;
  width:30px;
}
#topbackbtn{
  position:absolute;
  top:0px;
  width:57px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}

.check-sensor{
  clear:both;
  margin-bottom:30px;
}
.check-sensor input{
  float:right;
}

.toast {
  background-color: green;
  color: #000;
  padding: 10px;
  margin: 2px 0px;
}

.monospace{
  font-family: 'monospace';
}

@media (max-width: 320px){
  .sticky{
    width:320px;
    position:fixed;
  }

}


